<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\Documents\GitHub\Repositorio-Backup\RepositorioMineria\dist\RepositorioMineria.jar</jar>
  <outfile>D:\Documents\Escuela\S8\GPS\Documentacion proyecto\Repositorio\Repositorio.exe</outfile>
  <errTitle>Necesita instalar Java para ejecutar este programa</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>D:\Documents\GitHub\Repositorio-Mineria\RepositorioMineria\src\imagenes\cascoIconoEjecutable.ico</icon>
  <singleInstance>
    <mutexName>Repositorio.exe</mutexName>
    <windowTitle>Repositorio.exe</windowTitle>
  </singleInstance>
  <jre>
    <path>JRE</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
</launch4jConfig>